# Configure seu banco PostgreSQL local ou Supabase
DATABASE_URL=postgresql://username:password@localhost:5432/gametest
# Se estiver usando Supabase, use essa URL abaixo:
# DATABASE_URL=postgresql://postgres:senha@db.supabase.co:5432/postgres
